*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color : black;
    --color: white;
}

header{
    background-color: var(--background-color);
    color: var(--color);
    font-size: 20px;
    padding: 1rem;
}